.add-todo-button {
  position: fixed; /* todoItem이 추가되어도 해당 버튼 위치 고정 */
  right: -5px;
  bottom: 0;
  z-index: 100;
  width: 100px;
  height: 100px;
  cursor: pointer;
  font-size: 5rem;
  color: #f67280;
}